<h1>KarmaVille's Most Famous</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>
</table>

<ul class="pager">
  <% unless @page == 1 %>
  <li><a href="/?page=<%= @page - 1 %>">Previous</a></li>
  <% end %>

  <% unless @page >= num_pages %>
  <li><a href="/?page=<%= @page + 1 %>">Next</a></li>
  <% end %>
</ul>
